.grid__item {
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  background-color: #ffffff;
}
.grid__text-container {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
.grid__name-block {
  position: relative;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 12px 0px 12px;
  align-items: center;
}
.grid__text {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 205px;
}
.grid__duration {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #a0a0a0;
  margin: 0;
  margin-bottom: 14px;
  padding-left: 12px;
  padding-top: 10px;
}
.switch__save-button {
  width: 16px;
  height: 16px;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 2px solid white;
  background: #fafafa;
  border-radius: 50%;
  box-shadow: 0px 1px 3px 3px rgb(34 60 80 / 8%);
}

.switch__save-button:checked {
  background-color: #2be080;
}

.del-button {
  width: 16px;
  height: 16px;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url(../../images/delbutton.svg);
}

@media screen and (max-width: 999px) {
  .grid__image {
    width: 100%;
  }
}
@media screen and (max-width: 567px) {
  .grid__image {
    width: 100%;
  }
}
@media screen and (max-width: 467px) {
  .grid__image {
    width: 100%;
  }
}
