.register {
  padding: 70px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register__form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 396px;
}

.register__logo {
  width: 38px;
}

.register__header {
  position: relative;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin: 40px 0 16px;
}

.register__input {
  outline: none;
  border: 0;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
  color: black;
  background-color: transparent;
}

.register__input:focus {
  border-bottom: 1px solid #2be080;
  box-shadow: 0px 14px 23px 0px rgb(0 255 41 / 10%);
}

.register__label {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 24px 0 5px;
}

.register__error {
  color: #ee3465;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 10px;
}

@media screen and (max-width: 999px) {
  .register {
    padding: 232px 0;
  }

  .register__header {
    margin: 40px 0 16px;
  }

  .register__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 442px) {
  .register {
    padding: 58px 30px 30px;
    justify-content: center;
    text-align: center;
  }

  .register__form {
    max-width: 260px;
    align-self: center;
    text-align: center;
  }

  .register__logo {
    align-self: center;
  }

  .register__header {
    margin: 50px 0 80px;
    align-self: center;
    font-size: 24px;
    line-height: 29px;
  }

  .register__label {
    font-size: 10px;
    line-height: 12px;
    max-width: 260px;
  }

  .register__input {
    font-size: 14px;
    line-height: 17px;
    max-width: 260px;
  }
}
